nav {
  background-color: #000;
}

nav ul{
  list-style: none;
  margin: 0;
  overflow: hidden;
}

nav ul li a {
  padding: 10px;
  color: #fff;
  display: block;
  float: right;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #fff;
  background-color: #333;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.main_heading {
	font-size: 44px;
	letter-spacing: 34px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	color: #333;
	padding: 30px 0px;
	margin-bottom: 0px;
	border-bottom: 1px dashed #ccc;
	transition: 0.3s;
}

.main_heading .fa {
	color: #FFC200;
	transition: 0.3s;
}

.main_heading:hover {
	color: #FFC200;
}

.main_heading:hover .fa {
	color: #333;
}

h3.date {
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
	color: #999;
	font-size: 16px;
	margin: 40px 0;
	font-weight: 400;
}

.theme {
	color: #333;
}

.day_container {
  padding-bottom: 40px;
  margin-top: 30px;
  border-bottom: 1px dashed #ddd;
}

.fb-comments {
  width: 100%;
  margin-top: 30px;
}

.number
{
	font-size: 20px;
	font-weight: 600;
}
.profile-div{
	text-align: center;
}
.profile-text
{
	font-size: 12px;
	font-weight: 100;
	color: grey;
	position: absolute;
	top: 55px;
	margin-left: -35px;
}
.profile-text:nth-child(2)
{
	margin-left: -50px;
}

.profile-picture, .light-box-picture {
  border-radius: 300px;
  width: 90px;
  height: 90px;
  margin: 0px 80px;
}

.single_image {
	display: block;
	overflow: hidden;
}

.meta {
	padding: 10px 0;
	color: #666;
	font-size: 13px;
	margin-bottom: 30px;
}

#login-container {
	margin-top: 150px;
}

#login-container h2 {
	font-weight: 800;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

button, .button {
	background: none;
	background-color: #eee;
	color: #333;
	border-bottom: 3px solid #333;
}

button:hover, .button:hover {
	background-color: #ddd;
	color: #333;
}

.user-page-theme h3 {
	margin-top: 20px;
	text-align: center;
}

.user-page-theme h5 {
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
}

.dropzone {
	border-radius: 0;
	border: 1px solid #999;
}

.dropzone input[type="file"] {
	display: none;
}

.item {
	width: 33%;
	margin-top: 5px;
}

.item .meta {
	top: 100%;
	position: absolute;
	height: 100%;
	width: 100%;
	transition: 0.3s;
	background-color: rgba(255,255,255, 0.9);
	padding: 20px;
	font-size: 14px;
	text-align: center;
	font-weight: 800;
	text-transform: uppercase;
	color: #333;
}

.item:hover .meta {
	top: 0;
}

.images_container ul li {
  list-style: none;
}

.single-image
{
	text-align: center;
  margin-bottom: 30px;
}

.single-image > img
{
	margin: 0 auto;
	width: 800px;
}

a.share_btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px;
  float: left;
  background-color: #ddd;
  color: #fff;
  font-size: 12px;
}

a.facebook_share {
  background-color: #2151ff;
  margin-bottom: 10px;
}

a.twitter_share {
  background-color: #04c4ff;
}

.pagination-block
{
	text-align: center;
	margin: 10px 0px;
}
.pagination ul
{
	list-style-type: none;
}
.pagination ul a
{
  box-sizing: border-box;
  height: 50px;
  width: 50px;
	border-radius: 100px;
	display: inline-block;
  text-align: center;
  font-size: 24px;
	padding-top: 6px;
	font-weight: 100;
	background: #ddd;
	color: #fff;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.pagination ul a:hover, .footer li a:hover
{
	color: #fff;
  background-color: #333;
}

footer
{
	width: 100%;
	background: #000;
  margin: 0;
  margin-top: 40px;
  padding: 20px;
  font-size: 14px;
  color: #999;

}

footer a {
  color: #999;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

footer a:hover {
  color: #fff;
}

.hover_arrow {
  position: absolute;
  text-align: center;
  color: #000;
  background-color: #FFF;
  width: 102%;
  height: 103%;
  top: -1px;
  opacity: 0;
  line-height: 60px;
  font-size: 24px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.paginate-btn {
  position:relative;
  display:block;
}

.paginate-btn:hover .hover_arrow {
  opacity: 0.8;
}

.todays-topic {
  width: 100%;
  background-color: #efefef;
  color: #999;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.todays-topic p {
  margin: 0;
}

.disabled {
  display: none;
}

.logo {
  float: right;
}

.logo img {
  height: 30px;
}

.footer-links {
  padding-top: 6px;
}

.rounded {
  border-radius: 500px;
}

/* Loader */

.loader {
  width: 100%;
  height: 500px;
  position: relative;
}

@keyframes move-cube {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  20% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  }
  35% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  }
  50% {
    transform: rotateX(-34.6deg) rotateY(44deg) rotateZ(0deg);
  }
  65% {
    transform: rotateX(-34.6deg) rotateY(44deg) rotateZ(0deg);
  }
  80% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}
@keyframes reverse-circles {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  20% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  35% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(35deg) rotateY(-35deg) rotateZ(0deg);
  }
  65% {
    transform: rotateX(35deg) rotateY(-35deg) rotateZ(0deg);
  }
  80% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

@-webkit-keyframes move-cube {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  20% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  }
  35% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  }
  50% {
    transform: rotateX(-34.6deg) rotateY(44deg) rotateZ(0deg);
  }
  65% {
    transform: rotateX(-34.6deg) rotateY(44deg) rotateZ(0deg);
  }
  80% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

@-webkit-keyframes reverse-circles {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  20% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  35% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(35deg) rotateY(-35deg) rotateZ(0deg);
  }
  65% {
    transform: rotateX(35deg) rotateY(-35deg) rotateZ(0deg);
  }
  80% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}
.cube {
  margin-left: -60px;
  margin-top: -60px;
  width: 120px;
  height: 120px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform-style: preserve-3d;
  animation: move-cube infinite 2.37s;
  -webkit-animation: move-cube infinite 2.37s;
}

.plane-1, .plane-2, .plane-3 {
  width: 120px;
  height: 120px;
  position: absolute;
  transform-style: preserve-3d;
}

.plane-3 {
  transform: translate3d(0px, 0px, -60px);
}

.plane-2 {
  transform: translate3d(0px, 0px, 0px);
}

.plane-1 {
  transform: translate3d(0px, 0px, 60px);
}

.plane-1 div, .plane-2 div, .plane-3 div {
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  animation: reverse-circles infinite 2.37s;
  -webkit-animation: reverse-circles infinite 2.37s;
}

.plane-1 div {
  background: #fec856;
}

.plane-2 div {
  background: #c9dd4a;
}

.plane-3 div {
  background: #dd64a3;
}

.top-left {
  top: 0;
  left: 0;
}

.top-middle {
  top: 0;
  left: 56px;
}

.top-right {
  top: 0;
  right: 0;
}

.middle-left {
  top: 56px;
  left: 0;
}

.middle-middle {
  top: 56px;
  left: 56px;
}

.middle-right {
  top: 56px;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-middle {
  bottom: 0;
  left: 56px;
}

.bottom-right {
  bottom: 0;
  right: 0;
}
