@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,400,300);

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

#wrapper {
  min-height:100%;
  position:relative;
}

#content {
  position: relative;
  padding-bottom: 70px;   /* Height of the footer element */
}

.marginTop {
  margin-top: 40px;
}

footer {
  width:100%;
  height: 70px;
  position:absolute;
  bottom:0;
  left:0;
  background: #000;
  margin: 0;
  margin-top: 40px;
  padding: 20px;
  font-size: 14px;
  color: #999;
}

.liked_users {
  margin-top: 12px;
}

.liked_users p {
  font-size: 14px;
}

.liked_users a {
  color: #008CBA;
  font-size: 12px;
}

.liked_users a:hover {
  color: #11C4FF;
}

nav {
  background-color: #333;
}

nav ul{
  list-style: none;
  margin: 0;
  overflow: hidden;
}

li.right-links a {
  padding: 14px;
}

li.right-links a:last-child {
  border-left: 1px solid #666;
}

nav > ul > li > a {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  color: #fff;
  display: block;
  float: right;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-right: 1px solid #666;
}

nav > ul > li.left-links > a {
  float: left;
  border: 0;
  font-size: 10px;
  padding: 15px 20px;
}

nav > ul > li > a:hover {
  color: #999;
  background-color: #333;
}

.f-dropdown {
  width: 300px;
  max-width: 9999px;
}

body {
	font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

h1{
  font-family: 'Raleway', sans-serif;
}

.main_heading {
	font-size: 16px;
  float: left;
	letter-spacing: 10px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
  border: 0;
	margin-bottom: 0px;
	transition: 0.3s;
  margin-left: 10px;
}

.main_heading .fa {
	color: #FFC200;
	transition: 0.3s;
}

.main_heading:hover {
	color: #FFC200;
}

.main_heading:hover .fa {
	color: #fff;
}

h3.date {
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
	color: #999;
	font-size: 16px;
	margin: 20px 0;
	font-weight: 400;
}

#suggest_topic p {
  margin-bottom: 0;
}

.theme {
	color: #333;
}

.day_container {
  padding-bottom: 30px;
  margin-top: 30px;
  border-bottom: 1px dashed #ddd;
}

.fb-comments {
  width: 100%;
  margin-top: 30px;
}

.profile-picture-container {
  width: 50%;
  float: left;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.profile-stats {
  width: 50%;
  height: 100%;
  float: left;
}

.profile-name {
  text-align: center;
  height: 50%;
  border-bottom: 1px solid #ddd;
  padding: 21px 2px;
}

.profile-name h4 {
  font-size: 20px;
}

.profile-numbers {
  height: 50%;
}

.profile-single-number {
  height: 100%;
  width: 50%;
  color: #333;
  text-align: center;
  float: left;
  border-right: 1px solid #ddd;
  padding-top: 24px;
}

.profile-single-number {
  font-size: 32px;
  font-weight: 400;
  line-height: 18px;
}

.profile-single-number .stat-meta {
  font-weight: 300;
  font-size: 14px;
}

.profile-single-number:last-child {
  border-right: none;
}

.profile-picture {
  min-width: 100%;
  min-height: 100%;
}

.profile-date {
  margin-top: -10px;
  font-size: 12px;
  color: #999;
}

.profile-container {
  box-sizing: border-box;
  height: 250px;
  background-color: #000;
  position: relative;
  margin-bottom: 70px;
}

.image-bg {
  height: 100%;
  overflow: hidden;
}

.image-bg > img {
  width: 100%;
  position: relative;
  top: -50px;
  opacity: 0.8;
  margin: 0;
  display: block;
  float: left;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.profile-inner-box {
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  width: 392px;
  height: 180px;
  left: 50%;
  margin-left: -200px;
  bottom: -30px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -webkit-transition: 0.2s;
     -moz-transition: 0.2s;
      -ms-transition: 0.2s;
       -o-transition: 0.2s;
          transition: 0.2s;
}

.user-list {
  text-align: center;
}

.user-list .profile-inner-box {
  position: relative;
  left: auto;
  display: inline-block;
  margin-left: auto;
  bottom: auto;
  margin: 10px;
}

.user-list .profile-inner-box:hover {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);
  background: #f9f9f9;
}

.member-search {
  font-size: 18px;
}

.single-image {
	display: block;
	overflow: hidden;
  position: relative;
}

.single-image img {
  width: 100%;
}

.meta {
	padding: 10px 0;
	color: #666;
	font-size: 13px;
	margin-bottom: 30px;
}

#login-container {
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  border: 1px dashed #ccc;
	margin-top: 100px;
  margin-bottom: 50px;
}

#login-container h2 {
	font-weight: 800;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

button, .button {
	background: none;
	background-color: #eee;
	color: #333;
	border-bottom: 3px solid #333;
}

button:hover, .button:hover {
	background-color: #ddd;
	color: #333;
}

.user-page-theme h3 {
	margin-top: 20px;
	text-align: center;
}

.user-page-theme h5 {
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
}

.dropzone {
	border-radius: 0;
	border: 1px solid #999;
}

.dropzone input[type="file"] {
	display: none;
}

.images_container[data-columns]::before {
    content: '1 .split-1';
  }

  @media screen and (min-width: 800px) {
    .images_container[data-columns]::before {
      content: '3 .split-3';
    }
  }

  @media (min-width: 600px) and (max-width: 800px) {
      .images_container[data-columns]::before {
        content: '2 .split-2';
      }
  }

  .split-row {
    font-size: 0px;
    display: inline-block;
    width: 100%;
  }

  .split-3, .split-2, .split-1 {
    display: inline-block;
    vertical-align: top;
  }

  .split-3 {
    width: 33.33%;
  }

  .split-2 {
    width: 50%;
  }

  .split-1 {
    width: 100%;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .item {
    width: 100%;
    display: inline-block;
  }


.item .meta {
	top: 100%;
	position: absolute;
	height: 100%;
	width: 100%;
	transition: 0.3s;
	background-color: rgba(255,255,255, 0.9);
	padding: 20px;
	font-size: 14px;
	text-align: center;
	font-weight: 800;
	text-transform: uppercase;
	color: #333;
}

.item:hover .meta {
	top: 0;
}

.images_container ul li {
  list-style: none;
}

.item-inner {
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.item-meta {
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.item-meta .stat-meta {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.item-meta .author-name {
  color: #222;
}

.item-meta a {
  font-size: 16px;
  color: #ccc;
  vertical-align: middle;
  display: inline-block;
}

.stat-meta a {
  margin-left: 15px;
}

a.theme-meta {
  display: inline;
  /*float: left;*/
  padding: 10px 0px 15px 10px;
}

.item-meta a:hover {
  color: #FFC200;
}

.item-meta a.heart.heart-filled {
  color: #FFC200;
}

.item-meta a.heart:hover {
  color: #FFC200;
}

a.like-btn:hover i {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 2;
}

.item-meta img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-right: 10px;
}

a.share_btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px;
  float: left;
  background-color: #ddd;
  color: #fff;
  font-size: 12px;
}

a.facebook_share {
  background-color: #2151ff;
  margin-bottom: 10px;
}

a.twitter_share {
  background-color: #04c4ff;
}

.pagination {
  margin-bottom: 40px;
}

.pagination-block
{
	text-align: center;
	margin: 10px 0px;
}
.pagination ul
{
	list-style-type: none;
}
.pagination ul a
{
  box-sizing: border-box;
  height: 50px;
  width: 50px;
	border-radius: 100px;
	display: inline-block;
  text-align: center;
  font-size: 24px;
	padding-top: 8px;
	font-weight: 100;
	background: #ddd;
	color: #fff;
  margin-right: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.pagination ul a.disabled {
  opacity: 0.4;
}

.pagination ul a.disabled:hover {
  background: #ddd;
  color: #fff;
  cursor: default;
}

.pagination ul a:hover, .footer li a:hover
{
	color: #fff;
  background-color: #333;
}

footer a {
  color: #999;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

footer a:hover {
  color: #fff;
}

.hover_arrow {
  position: absolute;
  text-align: center;
  color: #000;
  background-color: #FFF;
  width: 102%;
  height: 103%;
  top: -1px;
  opacity: 0;
  line-height: 60px;
  font-size: 24px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.paginate-btn {
  position:relative;
  display:block;
}



.paginate-btn:hover .hover_arrow {
  opacity: 0.8;
}

.todays-topic {
  width: 100%;
  background-color: #efefef;
  color: #999;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.todays-topic p {
  margin: 0;
}

.disabled {
  display: none;
}

.logo {
  float: right;
}

.logo img {
  height: 30px;
}

.footer-links {
  padding-top: 6px;
}

.rounded {
  border-radius: 500px;
}

/* Loader */

.loader {
  width: 100%;
  height: 500px;
  position: relative;
}

@keyframes move-cube {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  20% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  }
  35% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  }
  50% {
    transform: rotateX(-34.6deg) rotateY(44deg) rotateZ(0deg);
  }
  65% {
    transform: rotateX(-34.6deg) rotateY(44deg) rotateZ(0deg);
  }
  80% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}
@keyframes reverse-circles {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  20% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  35% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(35deg) rotateY(-35deg) rotateZ(0deg);
  }
  65% {
    transform: rotateX(35deg) rotateY(-35deg) rotateZ(0deg);
  }
  80% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

@-webkit-keyframes move-cube {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  20% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  }
  35% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
  }
  50% {
    transform: rotateX(-34.6deg) rotateY(44deg) rotateZ(0deg);
  }
  65% {
    transform: rotateX(-34.6deg) rotateY(44deg) rotateZ(0deg);
  }
  80% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

@-webkit-keyframes reverse-circles {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  20% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  35% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(35deg) rotateY(-35deg) rotateZ(0deg);
  }
  65% {
    transform: rotateX(35deg) rotateY(-35deg) rotateZ(0deg);
  }
  80% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}
.cube {
  margin-left: -60px;
  margin-top: -60px;
  width: 120px;
  height: 120px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform-style: preserve-3d;
  animation: move-cube infinite 2.37s;
  -webkit-animation: move-cube infinite 2.37s;
}

.plane-1, .plane-2, .plane-3 {
  width: 120px;
  height: 120px;
  position: absolute;
  transform-style: preserve-3d;
}

.plane-3 {
  transform: translate3d(0px, 0px, -60px);
}

.plane-2 {
  transform: translate3d(0px, 0px, 0px);
}

.plane-1 {
  transform: translate3d(0px, 0px, 60px);
}

.plane-1 div, .plane-2 div, .plane-3 div {
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  animation: reverse-circles infinite 2.37s;
  -webkit-animation: reverse-circles infinite 2.37s;
}

.plane-1 div {
  background: #fec856;
}

.plane-2 div {
  background: #c9dd4a;
}

.plane-3 div {
  background: #dd64a3;
}

.top-left {
  top: 0;
  left: 0;
}

.top-middle {
  top: 0;
  left: 56px;
}

.top-right {
  top: 0;
  right: 0;
}

.middle-left {
  top: 56px;
  left: 0;
}

.middle-middle {
  top: 56px;
  left: 56px;
}

.middle-right {
  top: 56px;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-middle {
  bottom: 0;
  left: 56px;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.inner-top {
  padding-top: 20px;
}

.small-links {
  float: right;
  font-size: 12px;
  position: absolute;
  padding-top: 20px;
  right: 0;
  text-align: right;
}

.alert-box {
  margin-bottom: 0;
  text-align: center;
  background-color: #76BA00;
  font-size: 14px;
  border: none;
}

.message-box {
  margin-bottom: 0;
  text-align: left;
  background-color: #FFC200;
  font-size: 14px;
  padding: 30px;
  color: #333;
  border: none;
  overflow: hidden;
}

.message-box p {
  margin: 0;
  width: 80%;
  float: left;
}

.message-box p a {
  border-bottom: 1px dashed #333;
  color: #333;
}

.controls {
  opacity: 0.4;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.controls a {
  position: absolute;
  display: block;
  padding: 30px 15px;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.8;
  color: #FFF;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.controls a.next-arrow-btn {
  right: 0;
}

.controls a.prev-arrow-btn {
  left: 0;
}

.single-image:hover .controls {
  opacity: 1;
}

.caption p {
  font-size: 14px;
}

.item-caption {
  width: 80%;
  height: 80%;
  box-sizing: border-box;
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: rgba(0,0,0,0.8);
  padding: 20px;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  transform: scale(0.5);
}

.item:hover .item-caption {
  opacity: 1;
  transform: scale(1);
}

.item-caption p {
  font-size: 14px;
  color: #fff;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.item-image-container {
  position: relative;
  display: block;
}

.image-stats a.like-btn {
  font-size: 24px;
  color: #ccc;
}

.heart-empty {
  color: #ccc;
}

.heart-empty:hover {
  color: #FFC200;
}

.image-stats a.heart-filled {
  color: #FFC200;
}

.image-details p {
  padding-top: 15px;
  font-size: 14px;
}

.suggestion-topics {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.user-info img.rounded {
  width: 80px;
  height: 80px;
}

.suggestion-topics:before {
  content: '';
  width: 100%;
  height: 200px;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  position: absolute;
  bottom: 0;
}

ul.topics {
  margin: 0;
}

.topics li {
  box-sizing: border-box;
  list-style: none;
  width: 90%;
  padding: 10px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

.art {
  width: 10%;
  height: 100px;
  float: left;
  overflow: hidden;
  opacity: 0.6;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.invite-bg {
  position: absolute;
  z-index: -1;
  background-color: #000;
  height: 100%;
  overflow: hidden;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
  margin: 30px 0px;
  width: 100%;
}

.comments-container h1 {
  font-size: 36px;
  color: #283035;
  font-weight: 400;
}

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700;
}

.comments-list {
  margin-top: 30px;
  position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
  content: '';
  width: 2px;
  height: 100%;
  background: #c7cacb;
  position: absolute;
  left: 25px;
  top: 0;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
  content: '';
  width: 60px;
  height: 2px;
  background: #c7cacb;
  position: absolute;
  top: 25px;
  left: -55px;
}


.comments-list li {
  margin-bottom: 15px;
  display: block;
  position: relative;
}

.comments-list li:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.reply-list {
  padding-left: 88px;
  clear: both;
  margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  position: relative;
  z-index: 99;
  float: left;
  overflow: hidden;
}

.comments-list .comment-avatar img {
  width: 100%;
  height: 100%;
}

.comment-main-level:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
  width: 534px;
  float: right;
  position: relative;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border-width: 10px 12px 10px 0;
  border-style: solid;
  border-color: transparent #FCFCFC;
  top: 8px;
  left: -11px;
}

.comments-list .comment-box:before {
  border-width: 11px 13px 11px 0;
  border-color: transparent rgba(0,0,0,0.1);
  left: -12px;
}

.comments-list:after {
  content: '';
  position: absolute;
  background: #c7cacb;
  bottom: 0;
  left: 21px;
  width: 10px;
  height: 10px;
  border: 3px solid #dee1e3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.reply-list .comment-box {
  width: 610px;
}

.comment-box .comment-head {
  background: #FCFCFC;
  padding: 10px 12px;
  border-bottom: 1px solid #E5E5E5;
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
  float: right;
  margin-left: 14px;
  position: relative;
  top: 2px;
  color: #A6A6A6;
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
  color: #03658c;
}

.comment-box .comment-name {
  color: #283035;
  font-size: 14px;
  font-weight: 700;
  float: left;
  margin-right: 10px;
}

.comment-box .comment-name a {
  color: #283035;
}

.comment-box .comment-head span {
  float: left;
  color: #999;
  font-size: 13px;
  position: relative;
  top: 4px;
}

.comment-box .comment-content {
  background: #FFF;
  padding: 12px;
  font-size: 15px;
  color: #595959;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #333;}
.comment-box .comment-name.by-author:after {
  content: 'artist';
  background: #FFC200;
  color: #FFF;
  font-size: 12px;
  padding: 3px 5px;
  font-weight: 700;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.comment-bg {
  background-color: #efefef;
  margin-top: 40px;
}

.margin-top {
  margin-top: 40px;
}

.margin-top-sm {
  margin-top: 22px;
}

#comment-field {
  border-radius: 5px;
  width: 80%;
  float: left;
  margin-right: 10px;
}

button.btn {
  float: left;
  border-radius: 5px;
  margin-bottom: 0;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
}

.close-btn {
  padding: 8px;
  text-align: center;
  background-color: #DFAA03;
  color: #fff;
  border-radius: 40px;
  width: 30px;
  height: 30px;
  display: block;
  float: right;
  box-sizing: border-box;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.close-btn:hover {
  color: #fff;
  background-color: #999;
}

.animate-flash {
  animation: flash 1s ease-out;
  -webkit-animation: flash 1s ease-out;
}

@keyframes flash {
  0% {
    background-color: #fff893;
  }
  100% {
    background-color: #fff;
  }
}

@-webkit-keyframes flash {
  0% {
    background-color: #fff893;
  }
  100% {
    background-color: #fff;
  }
}

.empty-section {
  padding: 20px;
  border: 1px dashed #aaa;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

.empty-section p {
  margin: 0;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    -moz-transform : scale(1.0);
    opacity: 1.0;
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    opacity: 1.0;
  }
  to {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    opacity: 1.0;
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    -moz-transform : scale(1.0);
    opacity: 1.0;
  }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    opacity: 1.0;
  }
  to {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    opacity: 1.0;
  }
}

.show-on-mobile {
  display: none;
}

a:focus {
  outline: none;
}


li.right-links a.notification-btn {
  font-size: 18px;
  padding: 10px 25px;
  position: relative;
}

li.right-links a.notification-btn span {
  color: #fff;
  border-radius: 40px;
  font-size: 12px;
  font-weight: bold;
  width: 25px;
  display: block;
  height: 25px;
  padding: 2px 3px;
  /*padding: 5px 5px;*/
  text-align: center;
  background-color: red;
  /*position: absolute;*/
  /*top: 10px;*/
  /*right: 10px;*/
}

.view-all-btn {
  width: 100%;
  height: 270px;
  display: block;
  background: #f9f9f9;
  color: #333;
  text-align: center;
  line-height: 270px;
  font-size: 16px;
}


/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 500px) {

  .hide-on-mobile {
    display: none !important;
  }

  .show-on-mobile {
    display: block;
  }

  .comments-container {
    width: 480px;
  }

  .comments-list .comment-box {
    width: 390px;
  }

  .reply-list .comment-box {
    width: 320px;
  }

  .right-links {
    margin: auto;
    float: none;
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .message-box p {
    font-size: 13px;
  }

  .right-links a {
    display: inline-block;
    float: none;
    margin-left: -6px;
    padding: 10px;
    font-size: 10px;
  }

  .right-links a:last-child {
    border-right: 0px;
  }

  .main_heading {
    text-align: center;
    float: none;
    font-size: 24px;
    letter-spacing: 16px;
  }

  .user-info {
    margin-top: 20px;
  }

  .image-details p {
    padding-top: 10px;
  }

  .image-stats {
    text-align: center;
  }

  .comments-mobile ul {
    margin: 0;
  }

  .comments-mobile li {
    font-size: 14px;
    background-color: #fff;
    padding: 5px;
    border-radius: 3px;
    list-style: none;
    margin-bottom: 15px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
  }

  #comment-field {
    width: 100%;
    margin-bottom: 5px;
  }

  .comment-bg {
    background-color: #fff;
  }

  .profile-inner-box  {
    width: 350px;
    height: 170px;
    margin-left: -175px;
  }

  .profile-name {
    padding: 16px 22px;
  }

  .logo img {
    height: auto;
  }

  #my-awesome-dropzone {
    overflow: hidden;
  }

  #mobile-image-capture {
    padding: 10px;
    border: 1px dashed #ccc;
  }

  #mobile-image-gallery {
    padding: 10px;
    border: 1px dashed #ccc;
  }

  #mobile-image-capture label, #mobile-image-gallery label {
    text-align: center;
    margin-bottom: 20px;
  }

  #mobile-image-capture i, #mobile-image-gallery i {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 54px;
    color: #ddd;
    text-align: center;
  }

  .invite-bg {
   display: none;
  }

  #login-container {
    margin-top: 0;
  }

  nav > ul > li.left-links > a {
    float: left;
  }

  .left-links {
    width: 191px;
    margin: auto;
    overflow: hidden;
  }
}