/*==================================
=            LOGIN PAGE            =
==================================*/
html{
  width: 100%;
  height: 100%;
}
.login{
  background-size: cover;
}
.overlay{
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.5;
}
a {
  text-decoration: none;
  color: #0078e7;
}

.center {
  position: relative;
  margin: auto;
  margin-top: 200px;
  width: 200px;
  z-index: 3;
}
.suggestion{
  position: relative;
  margin-top: 20px;
  width: 80%;
}
.suggestion-form{
  width: 200px;
  margin: 0 auto;
}
.center button{
  width: 100%;
}
.center legend{
  font-size: 2em;
  font-weight: 100;
}
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  font-size: 12px;
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #ddd;
}

/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input[type="text"], .left-addon input[type="password"]   { padding-left:  30px; }
.right-addon input[type="text"], .right-addon input[type="password"] { padding-right: 30px; }



/*-----  End of LOGIN PAGE  ------*/



/*=====================================
=            NOTIFICATIONS            =
=====================================*/


.notifications {
  z-index: 5;
  position: fixed;
  right: 10px;
  top: 10px;
}

.notify {
  width: 300px;
  height: 70px;
  background-color: whitesmoke;
  /* border-radius: 7px; */
  box-shadow: -5px 5px 20px 1px #D1D1D1;
  -webkit-box-shadow: -5px 5px 20px 1px #D1D1D1;
  overflow: hidden;
  cursor: pointer;
  margin: 10px 0;
}

.notify:first-child {
  margin: 0 0 10px 0;
}

.circle {
  width: 28px;
  height: 20px;
  display: block;
  border-radius: 100%;
  transform: translate(17px, 17px);
  -webkit-transform: translate(17px, 17px);
  color: whitesmoke;
  padding: 10px 0 10px 13px;
}

.gr > .circle {
  background-color: #38ad65;
}

.gr > .info span:first-child {
  color: #38ad65;
}

.rd > .circle {
  background-color: #de3b12;
}

.rd > .info span:first-child {
  color: #de3b12;
}

.or > .circle {
  background-color: #c87a46;
}

.or > .info span:first-child {
  color: #c87a46;
}

.bl > .circle {
  background-color: #225877;
}

.bl > .info span:first-child {
  color: #225877;
}

.info {
  width: 230px;
  height: 70px;
  transform: translate(70px, -35px);
  -webkit-transform: translate(70px, -35px);
  padding: 10px;
}

.info span:first-child {
  display: block;
  color: #38ad65;
  font-weight: 600;
  font-size: 15px;
}

.info span:last-child {
  color: #919191;
  font-size: 13px;
}

.info span a {
  color: #545454;
  text-decoration: none;
  font-weight: 600;
}

/*-----  End of NOTIFICATIONS  ------*/

.pull-right{
  float: right;
}
#map{
  height: 300px;
  width: 300px;
}

.admin_images{
  width: 200px;
  background-color: #ddd;
}
/*=============================
=            MODAL            =
=============================*/

.wf-modal {
  text-align: left;
}
.wf-modal .tit {
  font-size: 20px;
  margin: 0;
}
.wf-modal .close .bt {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  color: #ccc;
  padding: 5px 10px;
  border: 0;
}
.wf-modal .close .bt:before {
  content: "x";
}
.wf-modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.wf-modal:target:before {
  display: block;
}
.wf-modal:target .wf-dialog-modal {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 5%;
}

.wf-dialog-modal {
  background: #fefefe;
  border: 1px solid #333;
  border-radius: 5px;
  margin-left: -150px;
  position: fixed;
  left: 50%;
  top: 100%;
  z-index: 11;
  width: 295px;
  -webkit-transform: translate(0, 500%);
  -moz-transform: translate(0, 500%);
  transform: translate(0, 500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.full-width{
  left: 30%;
  width: 900px;
}
.wf-content-modal {
  padding: 10px;
}

.wf-header-modal,
.wf-footer-modal {
  padding: 10px;
}

.wf-header-modal {
  border-bottom: 1px solid #eeeeee;
}

.wf-footer-modal {
  border-top: 1px solid #eee;
  text-align: right;
}

/*-----  End of MODAL  ------*/


